positions:
  - AI Engineer

date:
  all_time: true
  month: false
  week: false
  24_hours: false
  6_hours: false
  2_hours: false
  hour: false

locations:
  - Vietnam

company_blacklist:
  - abc

title_blacklist:
  - abc
